# Composer dependencies
/vendor/
/composer.lock
# Environment variables
.env

# PHPStorm and other IDEs
idea/
*.iml

# Log files
*.log

# Cache and temporary files
*.cache
*.tmp
*.swp

# PHPUnit test results
phpunit.result.cache
.coverage/

# Backup files
*.bak
*.orig

# System files
DS_Store
Thumbs.db

# SASS/SCSS cache
sass-cache/